.alert {
    background-color: #ec1616;
    margin: 0;
    padding: 0.4rem 0.5rem;
    margin-bottom: 0.8rem;
    h3 {
        color: $clr7;
        padding:0;
        margin:0;
        font-size:1rem;
    }
}
