.game-list {
    display: grid;
    // grid-template-columns: repeat( auto-fill, minmax(180px, 1fr) );
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap:10px;
    grid-auto-flow: dense;
    @media screen and(min-width:1100px) {
        grid-template-columns: repeat( auto-fill, minmax(220px, 1fr) );
    }
}
