button {
    border:0;
    background-color: $clr1;
    color:whitesmoke;
    padding: 5px 10px;
    margin: 5px;
}

form > * {
    display: block;
    width: 200px;
    margin: 10px 0px;
}
.input-filed {
    position: relative;
    width: 100%;
    margin-bottom: 0.8rem;
}
.form-input {
    height: 100%;
    width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    border-radius: 5px;
    border: 1px solid $clr3;
    color: white;
    outline: none;
    padding: 0.4rem;
    background: none;

    &:hover {
        border-color: $clr7;
    }
    &:focus {
        border-color: $clr5;
    }
}
.form-label {
    margin: 0;
    text-transform: capitalize;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    color: white;
    padding: 0 0.5rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: $clr0;
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
    top: -0.5rem;
    font-size: 0.65rem;
    left: 0.2rem;
}