.main-details {
    .price-container {
        background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
        border-radius: 5px;
        font-size: 13px;
        color: #c6d4df;
        padding: 16px;
        padding-bottom: 26px;
        margin-bottom: 28px;
        min-width: 65%;
        position: relative;
        h2 {
            font-size: 1.7rem;
        }
    }
    .top-nav {
        margin-top: 60px;
        @media screen and(min-width:750px) {
            margin-top: 0;
        }
    }

    .price-info {
        position: absolute;
        bottom: -15%;
        right: 7%;
        background-color: #0f1418;
        align-items: center;
        padding: 0px;
        height: 46px;
        transform: translate(7%, 15%);
        border-radius: 5px;

        @media screen and (min-width: 680px) {
            bottom: -11%;
            transform: translate(13%, 11%);
        }
        @media screen and (min-width: 990px) {
            bottom: -14%;
            transform: translate(7%, 14%);
        }

        .f-price {
            color: #acdbf5;
            font-size: 14px;
            padding-inline-end: 6px;
        }
    }
    .desc {
        max-width: 60ch;
    }
    .sign-in {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
        color: #acb2b8;
        font-size: 14px;
        line-height: 22px;
        padding: 15px 20px;
        a {
            color: $clr4;
            background-color: rgba(103, 193, 245, 0.2);
            border-radius: 2px;
            padding: 0 15px;
            font-size: 15px;
            line-height: 30px;
            display: block;
            max-width: 80px;
        }
        .btn-add-review {
            width: 117px;
            max-width: 117px;
        }
    }
    h1 {
        font-size: 26px;
        line-height: 32px;
        text-overflow: ellipsis;
        font-weight: normal;
        padding-left: 0px;
        color: $clr7;
        margin-bottom: 10px;
    }
    a {
        cursor: pointer;
    }
    .video-container {
        background: linear-gradient(92deg, #396583, transparent);
        border-radius: 0.5rem;

        @media screen and (max-width: 820px) {
            min-width: 100%;
        }
    }
    .video {
        height: 100%;
        @media screen and (min-width: 1150px) {
            justify-content: space-between;
        }
    }
    @media screen and (max-width: 820px) {
        .s-desc,
        p {
            margin-bottom: 10px;
        }
    }
    .f-price {
        margin: 0 4px;
    }
    .details-container {
        @media screen and (max-width: 820px) {
            flex-direction: column-reverse;
        }
        position: relative;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 100%);
    }
    .img-container {
        gap: 5px;
        & > div {
            cursor: pointer;
        }
    }

    .details-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 50%;
        gap: 10px;
        // .tag-info{
        //     height: 100%;
        // }
        img {
            border-radius: 0 0.5rem 0 0rem;
        }
        @media screen and (max-width: 820px) {
            max-width: 100%;
            margin: 0 auto 35px;
            p:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        .dark-txt {
            color: #556772;
            font-size: rem(10px);
        }
        .light-txt {
            color: #67c1f5;
        }
        p {
            font-family: roboto-reg;
            color: #c6d4df;
            max-height: 108px;
            overflow: hidden;
            font-size: rem(13px);
            line-height: 18px;
            padding-right: 16px;
            @media screen and(min-width:950px) {
                max-height: 250px;
            }
        }
    }
    .tag-container {
        padding: 5px;
        justify-content: flex-start;
    }
    .tag-container > a {
        color: $clr4;
        padding: 0 7px;
        background-color: rgba(103, 193, 245, 0.2);
        border-radius: 2px;
    }
    .tag-container > a:not(:last-child) {
        margin-inline-end: 2px;
    }
    .wishlist-link {
        color: #c6d4df;
        font-size: 1.3rem;
        background: linear-gradient(rgba(0, 0, 0, 0) 0, #14202f 35%);
        padding: 9px;
        margin-bottom: 20px;
        a {
            padding: 10px 0 10px;
            color: $clr7;
        }
        .btn-light:hover {
            background: rgba(103, 193, 245, 0.2);
            color: #67c1f5;
        }
    }
    .buy-container {
        margin-bottom: 50px;
        @media screen and (min-width: 680px) {
            flex-direction: row;
        }
    }
    @media screen and (min-width: 750px) {
        padding-top: 45px;
    }
    .game-card {
        display: none;
        max-width: 250px;
        position: fixed;
        top: 200px;
        right: 73px;
        opacity: 0;
        transition: opacity 0.2s;

        &.absolute {
            position: absolute;
            bottom: 0;
            // background-color: white;
            top: unset;
            right: 0;
            color: $clr0;
        }
        &.visible {
            opacity: 1;
            display: flex;
        }
        @media screen and (max-width: 920px) {
            display: none !important;
        }
    }
    .description-container {
        position: relative;
    }
    .card-buy-btn {
        position: absolute;
        bottom: 40px;
        right: 10px;
    }

    .s-img-game {
        cursor: pointer;
        height: 100%;
    }
}
